PLForms/Service References/BL_ServiceReference/BE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beds" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Price" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="RoomID" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="SeaWatching" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:RoomType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:simpleType name="RoomType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Regular" />
      <xs:enumeration value="Suite" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoomType" nillable="true" type="tns:RoomType" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Tour_Agency">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyID" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:AgencyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tour_Agency" nillable="true" type="tns:Tour_Agency" />
  <xs:simpleType name="AgencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="national" />
      <xs:enumeration value="international" />
      <xs:enumeration value="in_hotel_chain_ownership" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AgencyType" nillable="true" type="tns:AgencyType" />
  <xs:complexType name="ArrayOfTour_Agency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tour_Agency" nillable="true" type="tns:Tour_Agency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTour_Agency" nillable="true" type="tns:ArrayOfTour_Agency" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyID" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Beds" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="LeavingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationID" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Group_ReservationOfArrayOfRoomaguBxXxj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Group_ReservationOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/BE" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRoom" Namespace="http://schemas.datacontract.org/2004/07/BE" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Reservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rooms" nillable="true" type="tns:ArrayOfRoom" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Group_ReservationOfArrayOfRoomaguBxXxj" nillable="true" type="tns:Group_ReservationOfArrayOfRoomaguBxXxj" />
  <xs:complexType name="Single_Reservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Reservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Single_Reservation" nillable="true" type="tns:Single_Reservation" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
</xs:schema>